mixin reviews(options)
  .reviews
    .reviews__controls
      .reviews__left
      .reviews__right
    .reviews__slides
      each person, index in options.persons
        .reviews__review
          p.reviews__text= options.reviewsTexts[index]
          .reviews__person
            .reviews__wrap
              img.reviews__img(
                src='assets/img/reviews/' + options.imgs[index],
                alt= person
              )
            p.h3.reviews__name= person
            p.reviews__event= options.events[index]
            a(
              href= options.links[index][1],
              target="blank"
            )
              div(class= options.links[index][0])
    .reviews__nav
      each person in options.persons
        .reviews__dot