mixin reviews
  .reviews
    .reviews__controls
      .reviews__left
      .reviews__right
    .reviews__slides
      .reviews__review
        p.reviews__text Женя - человек, с которым максимально комфортно работать. Интеллигентный, с чувством такта, все предусмотрит, отзывчивый. Провели совместно множество проектов, а мы доверяем только лучшим в индустрии ивента.
        .reviews__person
          .reviews__wrap
            img.reviews__img(
              src="assets/img/reviews/maksimovich.jpg",
              alt="Юлия Максимович"
            )
          h3.reviews__name Юлия Максимович
          p.reviews__event Event агенство «Делай ярче»
          a(
            href="https://www.facebook.com/yuliya.maksimovich.9",
            target="blank"
          )
            .facebook
      .reviews__review
        p.reviews__text Спасибо, Евгений!!! Вы лучший ведущий из тех, что я встречала на своём пути! Всегда интересная программа и подход к любому мероприятию, будем дальше приглашать Вас проводить наши праздники.
        .reviews__person
          .reviews__wrap
            img.reviews__img(
              src="assets/img/reviews/bogdanova.jpg",
              alt="Ирина Богданова"
            )
          h3.reviews__name Ирина Богданова
          p.reviews__event День Рождения
          a(
            href="https://www.facebook.com/profile.php?id=100061833382999",
            target="blank"
          )
            .facebook
      .reviews__review
        p.reviews__text Мы позвали Евгения на свой корпоратив, он сделал наш праздник! Всем очень понравилось и караоке и дискотека, спасибо! Будем обращаться еще)
        .reviews__person
          .reviews__wrap
            img.reviews__img(
              src="assets/img/reviews/miluchova.jpg",
              alt="Юлия Милюкова"
            )
          h3.reviews__name Юлия Милюкова
          p.reviews__event Корпоратив
          a(
            href="https://www.facebook.com/profile.php?id=100001931621727",
            target="blank"
          )
            .facebook
      .reviews__review
        p.reviews__text Женя, огромное спасибо тебе и твоим ребятам. Вы были как всегда на высоте! Остались незабываемые впечатления у нас и у всех гостей! Вы супер! Как обычно буду рекомендовать тебя всем знакомым.
        .reviews__person
          .reviews__wrap
            img.reviews__img(
              src="assets/img/reviews/klochkova.jpg",
              alt="Наталия Клочкова"
            )
          h3.reviews__name Наталия Клочкова
          p.reviews__event юбилей мужа
          a(
            href="https://www.facebook.com/profile.php?id=100001061987625",
            target="blank"
          )
            .facebook
      .reviews__review
        p.reviews__text Женя вел наш праздник и все 50 человек оценили работу по достоинству! Спасибо Женя, ты сделал наш вечер!
        .reviews__person
          .reviews__wrap
            img.reviews__img(
              src="assets/img/reviews/volhnov.jpg",
              alt="Андрей Волхонов"
            )
          h3.reviews__name Андрей Волхонов
          p.reviews__event свадьба
          a(href="https://vk.com/id5376754", target="blank")
            .vk
      .reviews__review
        p.reviews__text Все очень понравилось, спасибо большое!))) Ребята в восторге, сказали, что ты им понравился, ненавязчивый и все в меру)) И конкурсы классные, никакой ерунды)) Все было супер, спасибо большое!)))
        .reviews__person
          .reviews__wrap
            img.reviews__img(
              src="assets/img/reviews/mikhaleva.png",
              alt="Алеся Михалева"
            )
          h3.reviews__name Алеся Михалева
          p.reviews__event корпоратив
          a(href="https://www.instagram.com/alesya_mhlv/", target="blank")
            .instagram
      .reviews__review
        p.reviews__text Женя, хочу выразить сердечную Благодарность за твой великолепный труд! Ты самый ЛУЧШИЙ ведущий! Огромное спасибо тебе и твоей команде за проведение нашего незабываемого праздника.
        .reviews__person
          .reviews__wrap
            img.reviews__img(
              src="assets/img/reviews/graciani.jpg",
              alt="Анастасия Грациани"
            )
          h3.reviews__name Анастасия Грациани
          p.reviews__event юбилей
          a(href="https://vk.com/graciani", target="blank")
            .vk
      .reviews__review
        p.reviews__text Спасибо, Евгений! Вы, ведущий от бога! Свадьба брата запомнится нам на всю жизнь! Всё было просто замечательно, музыка, конкурсы, шутки! Атмосфера была просто волшебной! Ещё раз спасибо вам большое! Обязательно расскажу про вас всем друзьям.
        .reviews__person
          .reviews__wrap
            img.reviews__img(
              src="assets/img/reviews/polyakova.jpg",
              alt="Татьяна Полякова"
            )
          h3.reviews__name Татьяна Полякова
          p.reviews__event свадьба
          a(href="https://www.instagram.com/tanya_korolev/", target="blank")
            .instagram
      .reviews__review
        p.reviews__text Это профессионалы, спасибо за наш День свадьбы!
        .reviews__person
          .reviews__wrap
            img.reviews__img(
              src="assets/img/reviews/sazikina.jpg",
              alt="Ольга Сазыкина"
            )
          h3.reviews__name Ольга Сазыкина
          p.reviews__event свадьба
          a(href="https://vk.com/sazykinao", target="blank")
            .vk
      .reviews__review
        p.reviews__text Шикарный звук, Евгений профессионал! Спели как звезды, хотя не умеем петь, это все благодаря мастерскому подходу Евгения. Потанцевали и потусили вместе с ним.
        .reviews__person
          .reviews__wrap
            img.reviews__img(
              src="assets/img/reviews/musinov.jpg",
              alt="Марк Мусинов"
            )
          h3.reviews__name Марк Мусинов
          p.reviews__event День Рождения
          a(
            href="https://www.facebook.com/markmusin/",
            target="blank"
          )
            .facebook
      .reviews__review
        p.reviews__text Спасибо! Все было замечательно, гости были в восторге! Особое спасибо за время, которое ты уделял нам до свадьбы, мы так переживали, но ты всегда был на связи и поддерживал.
        .reviews__person
          .reviews__wrap
            img.reviews__img(
              src="assets/img/reviews/volkova.jpg",
              alt="Екатерина Волкова"
            )
          h3.reviews__name Екатерина Волкова
          p.reviews__event свадьба
          a(href="https://www.instagram.com/vopitropi/", target="blank")
            .instagram
      .reviews__review
        p.reviews__text Привет! Я сейчас на юбилее, это кошмар, а не ведущие! Всеми руками за тебя, бронирую на 10 марта! Женя, ты гений вместе со своей командой!
        .reviews__person
          .reviews__wrap
            img.reviews__img(
              src="assets/img/reviews/pereverzeva.jpg",
              alt="Александра Переверзева"
            )
          h3.reviews__name Александра Переверзева
          p.reviews__event Юбилей отца
          a(href="https://vk.com/id6820885", target="blank")
            .vk
    .reviews__nav
      .reviews__dot
      .reviews__dot
      .reviews__dot
      .reviews__dot
      .reviews__dot
      .reviews__dot
      .reviews__dot
      .reviews__dot
      .reviews__dot
      .reviews__dot
      .reviews__dot
      .reviews__dot
