mixin social(options)
  div(class='social social--' + options.mode)
    a(
      href="https://www.facebook.com/profile.php?id=100001835656351",
      class='social__link social__link--' + options.mode,
      target="blank"
    )
      div(class='social__facebook social__facebook--' + options.mode)
    a(
      href="https://vk.com/evgeniyalexandrov",
      class='social__link social__link--' + options.mode,
      target="blank"
    )
      div(class='social__vk social__vk--' + options.mode)
    a(
      href="https://www.youtube.com/channel/UC_w5B-9FkpI_jj0beRXjhRw?view_as=subscriber",
      class='social__link social__link--' + options.mode,
      target="blank"
    )
      div(class='social__youtube social__youtube--' + options.mode)
    a(
      href="https://www.instagram.com/evgeniy_alexandrov__/?hl=ru",
      class='social__link social__link--' + options.mode,
      target="blank"
    )
      div(class='social__instagram social__instagram--' + options.mode)
    a(
      href="https://soundcloud.com/evgeniyalexandrov",
      class='social__link social__link--' + options.mode,
      target="blank"
    )
      div(class='social__soundcloud social__soundcloud--' + options.mode)
    a(
      href="https://t.me/AES_Production",
      class='social__link social__link--' + options.mode,
      target="blank"
    )
      div(class='social__telegram social__telegram--' + options.mode)
