mixin jumping-buttons
  .jumping-buttons
    input#jumping-buttons__checkbox.jumping-buttons__input(type="checkbox")
    label.jumping-buttons__label(for="jumping-buttons__checkbox")
      .jumping-buttons__message
      .jumping-buttons__close
    a.jumping-buttons__icon.jumping-buttons__icon--telegram(
      href="https://t.me/AES_Production",
      target="blank"
    )
      span.jumping-buttons__tooltip Telegram
    a.jumping-buttons__icon.jumping-buttons__icon--whatsapp(
      href="https://api.whatsapp.com/send?phone=79164942042",
      target="blank"
    )
      span.jumping-buttons__tooltip WhatsApp
    a.jumping-buttons__icon.jumping-buttons__icon--vk(
      href="https://vk.me/https://vk.com/evgeniyalexandrov",
      target="blank"
    )
      span.jumping-buttons__tooltip Vkontakte
    a.jumping-buttons__icon.jumping-buttons__icon--mail(
      href="mailto:e.alexandrov68@gmail.com?subject=Заказать мероприятие"
    )
      span.jumping-buttons__tooltip Mail
    a.jumping-buttons__icon.jumping-buttons__icon--phone(
      href="tel:+79164942042"
    )
      span.jumping-buttons__tooltip Phone
    a.jumping-buttons__icon.jumping-buttons__icon--instagram(
      href="https://www.instagram.com/accounts/login/?next=/evgeniy_alexandrov__/",
      target="blank"
    )
      span.jumping-buttons__tooltip Instagram
