block varibles

include ../../components/components
include ../utils/mixins


doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(
      name="description",
      content= metaDescription
    )
    meta(
      name="keywords",
      content= metaKeywords
    )
    link(rel="shortcut icon", href="assets/img/icons/ico.ico")
    title= pageTitle
    <!-- Facebook Pixel Code -->
    script.
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2117015451956176');
      fbq('track', 'PageView');
      fbq('track', 'Contact');
    noscript
      img(
        height="1",
        width="1",
        src="https://www.facebook.com/tr?id=2117015451956176&ev=PageView &noscript=1"
      )
    <!-- End Facebook Pixel Code -->
  body
    block content
    block scripts
