block varibles

include ../../components/components
include ../utils/mixins


doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="yandex-verification" content="be0ec29f47d80ffd")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(
      name="description",
      content= metaDescription
    )
    meta(
      name="keywords",
      content= metaKeywords
    )
    link(rel="shortcut icon", href="assets/img/icons/ico.ico")
    link(rel="canonical" href="https://djkaraoke.ru/")
    title= pageTitle
    
  body
    block content
    block scripts
